<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
    {% if alumno %}
        <h2>Formulario Actualizar Datos Alumnos</h2>
        <form action="{% url 'alumnosUpdate' %}" method="post">
            {% csrf_token %}
            <label style="color: aqua;" for="">Rut:</label>
            <br>
            <input type="text" name="rut" value="{{alumno.rut}}">
            <br>
            <label for="">Nombre:</label>
            <br>
            <input type="text" name="nombrealumno" value="{{alumno.nombre}}">
            <br>
            <label for="">Apellido Paterno:</label>
            <br>
            <input type="text" name="paterno" value="{{alumno.apellido_paterno}}">
            <br>
            <label for="">Apellido Materno:</label>
            <br>
            <input type="text" name="materno" value="{{alumno.apellido_materno}}">
            <br>
            <label for="">Fecha Nacimiento:</label>
            <br>
            <input type="date" name="fechaNac" value="{{alumno.fecha_nacimiento|date:'Y-m-d'}}">
            <br>
            <label for="">Celular:</label>
            <br>
            <input type="text" name="telefono" value="{{alumno.telefono}}">
            <br>
            <label for="">Email:</label>
            <br>
            <input type="mail" name="email" value="{{alumno.email}}">
            <br>
            <label for="">Direccion:</label>
            <br>
            <input type="text" name="direccion" value="{{alumno.direccion}}">
            <br>
            
            <button type="submit" >Actualizar</button>
            </form> <br><br>
    {% endif %}
            <div id="idMensajes">
                {% if mensaje %}
                {{mensaje}}
                {% endif %}    
            </div><br><br>
            <a href="{% url 'listar' %}">Volver</a>
            <br>
            











    </div>




</body>
</html>