<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align: center;">
        <h2>Formulario Agregar Alumnos</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit">Agregar</button>
        </form>
        <br>
        <br>
        <a href="{% url 'listar' %}">Volver</a>
        <br>
    </div>
</body>
</html>