<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align: center;">
        <h2>Formulario Agregar Alumnos</h2>
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Rut:</label>
            <br>
            <input type="text" name="rut">
            <br>
            <label for="">Nombre:</label>
            <br>
            <input type="text" name="nombrealumno">
            <br>
            <label for="">Apellido Paterno:</label>
            <br>
            <input type="text" name="paterno">
            <br>
            <label for="">Apellido Materno:</label>
            <br>
            <input type="text" name="materno">
            <br>
            <label for="">Fecha Nacimiento:</label>
            <br>
            <input type="date" name="fechaNac">
            <br>
            <label for="">Celular:</label>
            <br>
            <input type="text" name="telefono">
            <br>
            <label for="">Email:</label>
            <br>
            <input type="mail" name="email">
            <br>
            <label for="">Direccion:</label>
            <br>
            <input type="text" name="direccion">
            <br>
            <button type="submit">Agregar</button>
        </form>
        <br>
        <br>
        <a href="{% url 'listar' %}">Volver</a>
        <br>
    </div>
</body>
</html>